.total-item-wrapper {
    margin-top: 20px;
    height: auto;
    width: 100%;
    background-color: green;
}

.total-item {
    border-radius: 10px;
    height: 140px;
    width: 24%;
    float: left;
    margin: 0.5%;
    background-color: #5f6163;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.total-item h5 {
    text-align: left;
    font-family: "verdana", sans-serif;
    font-weight: 500;
    color: rgb(180, 180, 180);
}

.total-item p {
    text-align: left;
    font-family: "verdana", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgb(204, 203, 203);
}

#total-book {
    background-color: #2980d8;
}

#total-user {
    background-color: #14975a;
}

#borrow-today {
    background-color: #1533b8;
}

#returned-today {
    background-color: #3b1e8b;
}

.report-summary {
    height: 310px;
    width: 49%;
    float: left;
    margin: 15px 0.5% 0px 0.5%;
    background-color: #775e52;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.dashboard-carousel {
    height: 250px;
    width: 49%;
    float: left;
    margin: 15px 0.5% 0px 0.5%;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}